a {
    color: #429398;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #429398;
    text-decoration: underline;
}


ul.flat_description {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat_description li:before {
    content: '\2714\0020';
}

ul.flat_description {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    padding-bottom: 15px;
}

.obb-open {
    color:#429398;
    font-family: "old_standard_ttbold", Georgia, serif;
    font-size: 1.2em;
    background: #fff;
    padding: 8px 5px 3px;
    text-shadow: 0 1px 0 #fafafa;
    text-rendering: optimizelegibility;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
}
.obb-bn {
    color:#6B5D4D;
    font-family: "old_standard_ttbold", Georgia, serif;
    font-size: 1.2em;
    background: #fff;
    padding: 8px 5px 3px;
    margin: 0 1px 1px 0;
    text-shadow: 0 1px 0 #fafafa;
    text-rendering: optimizelegibility;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
}
.obb-bib {
    color:#B0A18F;
    font-family: "old_standard_ttbold", Georgia, serif;
    font-size: 1.2em;
    background: #fff;
    padding: 8px 5px 3px;
    text-shadow: 0 1px 0 #fafafa;
    text-rendering: optimizelegibility;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
}
.bg-open {
    background-color: #429398;
}

.btn-primary {
    background-color: #429398;
    border-color: #429398;
}

.btn-primary:hover {
    background-color: #429398;
    border-color: #429398;
}

.btn-primary a {
    color: white;
}

.row {
    padding-bottom: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #212529;
    background-color: #fff !important;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
